@import "tailwindcss";

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}


@font-face {
    font-family: 'medium';
    src: url('../public/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'extrabold';
    src: url('../public/fonts/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'bold';
    src: url('../public/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'regular';
    src: url('../public/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'semibold';
    src: url('../public/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../public/fonts/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../public/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


@theme default {
    --font-regular: 'regular';
    --font-bold: 'bold';
    --font-extrabold: 'extrabold';
    --font-medium: 'medium';
    --font-semibold: 'semibold';

    --font-roboto: 'roboto';
    --font-roboto-bold: 'roboto';

    --color-bg: '#161616';
    --color-text-primary: '#F1F6F8';
    --color-text-secondary: '#21273D';
}




@keyframes scrollX {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}